@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: #ffffff;

    font-family: Raleway, sans-serif;
}

*{
    scroll-behavior: smooth;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translate(100%)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translate(-100%)
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.fadeInLeft {
    animation: slideIn 0.3s;
}

.fadeInRight {
    animation: slideInRight 0.3s;
}

.fadeOutRight {
    transition: 0.3s all;
    opacity: 0;
    transform: translate(100%)
}

.fadeOutLeft {
    transition: 0.3s all;
    opacity: 0;
    transform: translate(-100%)
}

@keyframes fadeIn {
    0% {
        border-bottom-width: 0;
    }

    50% {
        border-bottom-width: 5px;
    }

    100% {
        border-bottom-width: 2px;
    }
}

.menuLinkAnimation {
    animation: fadeIn 0.5s;
}

.noGrayScale {
    filter: grayscale(0) !important;
}